@use 'sass:math';
@use './variables.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  overflow: -moz-scrollbars-none; /* Для Firefox */
  -ms-overflow-style: none; /* Для IE 10+ */
  scrollbar-width: none; /* Для Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Для Chrome, Safari и Opera */
}

html,
body {
  min-width: $minWidth + px;
  font-family: $fontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: none;
}

body {
  color: $mainColor;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

//========================================================================================================================================================

body {
  font-size: 12px;
}

#app {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  background: $bgColor url('@/assets/main-bg.png') no-repeat center bottom;
  background-size: cover;
  position: relative;
  &.lock {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 768px;
  margin: 0 auto;
  @supports (overflow: clip) {
    overflow: clip;
  }
  > main {
    flex: 1 1 auto;
  }
}

//===COMMON====================================================================================================

.accentGrad {
  box-shadow: 0px 0px 10px 0px #ffffff40 inset;
  background: $gradientAccent;
  box-shadow: 0px 0px 15px 0px #957dff52;
}

.plateBg {
  background: $plateBg;
  border: 1px solid rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  transition: all 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      background: linear-gradient(
        281.12deg,
        rgba(27, 24, 41, 0.75) -31.08%,
        rgba(76, 64, 120, 0.75) 169.48%
      );
      border: 1px solid rgba(212, 177, 255, 0.1);
    }
  }
}
