$fontFamily: 'Montserrat', serif;
$minWidth: 320;

$mainColor: #ffffff;
$bgColor: #12101b;

$accent: #ae8bff;
$darkAccent: #4f4678;
$purple: #957dff;
$pink: #df9dff;
$gradientAccent: linear-gradient(73.09deg, $purple -10.96%, $pink 143.08%);
$buttonBg: #2a263c;
$mainBg: #1b1829;
$inputBg: #12101b;
$plateBg: #1b1829bf;

$pending: #ffb958;
$warning: #ff6780;
$success: #67ff95;

$smallBreakpoint: 380px;
