@import './variables.scss';
.accentGrad {
    box-shadow: 0px 0px 10px 0px #ffffff40 inset;
    background: $accentGrad;
    box-shadow: 0px 0px 15px 0px #957dff52;
}

.plateBg {
    background: $plateBg;
    border: 1px solid;
    border-image-source: linear-gradient(
        118.3deg,
        rgba(255, 255, 255, 0.43) -0.56%,
        rgba(255, 255, 255, 0.25) 54.39%
    );

    &:hover {
        background: linear-gradient(281.12deg, rgba(27, 24, 41, 0.75) -31.08%, rgba(76, 64, 120, 0.75) 169.48%);
        border: 1px solid;
        border-image-source: linear-gradient(145.23deg, rgba(212, 177, 255, 0.4) -21.79%, rgba(204, 194, 255, 0.1) 64.29%);        
    }
}
