$fontFamily: "Montserrat", serif;
$minWidth: 320;

$mainColor: #12101BAD;
$bgColor: #FFFFFF;

$accent: #AE8BFF;
$accentGrad: linear-gradient(73.09deg, #957DFF -10.96%, #DF9DFF 143.08%);
$buttonBg: #2A263C;
$mainBg: #1B1829;
$inputBg: #12101B;
$plateBg: #1B1829BF;

$pending: #FFB958;
$warning: #FF6780;
$success: #67FF95;